@charset "UTF-8";

/* Info on syntax and usage of flex positioning in CSS retrieved from:
   https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   Accessed: 10th March 2019  */
#root, html, body {
  justify-content: center;
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  min-height: 100%;
  background-image: radial-gradient(circle at bottom center, rgb(6, 3, 49), #000000 );
}

form {
  justify-content: center;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

legend {
  padding-bottom: 14px;
  color: aqua;
  text-shadow: 1px 0px 1px #86fbff;
  text-align: left;
}

fieldset {
  width: 80%;
  padding: 20px;
  border-color: aqua;
  background-color: rgba(40, 40, 40, 0.4);
}

form *:not(legend):not(button) {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 17px auto;
}

form button {
  width: 60px;
  height: 60px;
  margin: auto;
  margin-bottom: 20px;
  font-size: 30pt;
  background: #86fbff;
  border: none;
  box-shadow: 0px 0px 10px 1px #5599ff;
}

input {
  width: 80%;
  text-align: center;
}

.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  display: flex;
  flex: 0 0 100%;
}

.controls {
  min-width: 80%;
  height: 20px;
  position: absolute;
  top: 0;
  text-align: center;
}

.controls * {
  margin-right: 10px;
}

.imageViewContainer {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 100%;
  width: 85%;
  min-height: 100%;
}

.imageViewContainer img {
  width: 85%;
  clear: both;
}

.imageViewContainer p{
  color: #ffffff;
  clear: both;
  width: 100%;
}

.bgDarken {
  min-width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex: 0 0 100%;
  background: rgba(0,0,0,0.5);
}

.promptContainer {
  max-width: 25%;
  padding-bottom: 40px;
  height: 60%;
  background: rgba(40, 40, 40, 0.8);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex: 0 0 100%;
}

.promptContainer img {
  width: 175px;
  height: 175px;
  border-radius: 100px;
  margin: 0 auto;
  clear: both;
  text-align: center;
  align-items: center;
}

.promptContainer h3 {
  clear: both;
  width: 100%;
  color: #ffffff;
}